<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Abbr</mat-label>
    <input matInput placeholder="Abbreviation" formControlName="abbreviation">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput placeholder="Color" formControlName="color" type="color">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="save()">Save</button>
</form>
